*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background-color:  whitesmoke;
    color:  black;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    background-color: darkblue;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 0;
    padding-right: 0;
}

.logo{
    text-align: center;
    font-size: 1.8rem;
    list-style: none;
}

nav{
    display: flex;
    margin-left: 1.5 rem;
}

nav a{
     color: white;
    text-decoration: none;
    transition: color 0.3s;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

nav a:hover , nav a.active{
    background-color: rgba(254, 254, 254, 0.223);

}

main{
    padding: 2rem 0;
    flex: 1;
}


/*login page box*/
.login-box{
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: none;
}

.login-box h2{
    text-align: center;
    margin-bottom: 1.5rem;
    color: lightskyblue;
}

.login-box p{
    text-align: center;
}
.form-group{
    margin-bottom: 1.5rem;

}

.form-group label{
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.form-group input, .form-group select{
    width: 100%;
    padding:0.75rem;
    border: 1px solid black;
    border-radius: 4px;
    font-size:1rem;
}

/*button edit */

.btn{
    background-color: rgb(15, 26, 179);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    display: inline-block;
    text-align: center;

}

.btn:hover{
    background-color: skyblue;

}

.btn-small{
    background-color: navy;
    color: white;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;

}

.btn-small:hover{
    background-color: red;

}

/*dashboard edit*/
.dashboard-header{
    text-align: center;
    margin-bottom: 2rem;
}

.balance-info{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

.quickactions h3,.account-info h3{

     margin-bottom: 1rem;
    color: #1a237e;

}

.quickbuttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.quickbuttons a{
    color: black;
    
}
.quickbuttons a:hover{
    background-color:  lightgrey;
}

.quickbuttons .btn{
    width: 80%;
}


/* transfer page edit*/

.transfering-info{
    display: flex;
    gap: 2rem;
}

.transfer-form{
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    flex: 2;
}

.transfer-guide h2{
    margin-top: 1rem;
    color: #1a237e;

}

/* transaction page edit*/

.filters{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: flex-end;
    flex-wrap: wrap;
}

.filter-group label{
    font-weight: bold;
    
}

/*about page */
.story{
    margin: 2rem;
    
}

footer{
    background-color:darkblue;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 1rem;

}